.synth__main__container {
    max-width: 650px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #22BBBB;
    border-radius: 3px;

    .synth__header {
        display: flex;
        flex-direction: row;
    }

    .synth__container {
        display: flex;
        flex-direction: row;
        width: 500px;
    }
}